<!DOCTYPE html>
<html lang="en">
    <%- include( 'partials/head.ejs', {page: `${just.name}`} ) %>
<body>
    <h1>Name: <%= just.name %></h1>
   
    <div> 
         <h3>Ability: <%= just.ability %> </h3> 
         <img src="<%= just.img %> " alt="<%= just.name %> ">
    </div>
    <form action="/justice-league/<%= id %>?_method=DELETE" method="POST">
       <input type="submit" value="Kill!!!"/>
    </form> 
</body>
</html>